.hero.calendar {
  @include aspect-ratio(16,8);
  .content {
    height: 100%;
    text-align: center;
    .content-heading {
      @include vertical-align();
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      @media #{$medium-up} {
        max-width: 80%;
      }
    }
    .divider {
      @media #{$small-only} {
        margin: .5rem auto .5rem auto;
      }
    }
  }
  .parallax-bg {
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/images/backgrounds/service_small.jpg");
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    @media #{$medium-up} {
      background-image: url("../../assets/images/backgrounds/service_medium.jpg");
    }
    @media #{$large-up} {
      background-image: url("../../assets/images/backgrounds/service_large.jpg"); 
    }
  }
  #parallax1 {
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
  .parallaxParent {
      overflow: hidden;
  }

  .parallaxParent > * {
      height: 110%;
      position: relative;
      top: -58%;
  }
}

#tribe-events {
	max-width: 80%;
	margin: 0 auto;
}

#tribe-bar-form {
	background-color: $grey5;
	.label-tribe-bar-date,
	.label-tribe-bar-search {
		color: scale-color($body-font-color , $lightness: -14%);
	}
	input[type="text"] {
		color: white;
	}
}

.tribe-events-page-title {
	display: none;
}

.tribe-events-list-separator-month {
	span {
		background-color: $grey3;
		text-transform: uppercase;
	    font-weight: 700;
	    font-family: $font-family-sans-serif;
	}
}

.tribe-events-list .type-tribe_events {
	background-color: $grey4;
	padding: 5%;
	margin-bottom: 1.75rem;
	.tribe-events-list-event-title {
		text-transform: uppercase;
	    font-weight: 500;
	}
	.tribe-events-event-cost span {
		background-color: scale-color($grey5 , $lightness: -14%);
		border-color: scale-color($grey5 , $lightness: -14%);
		font-weight: 300;
	}
}

.tribe-events-list .tribe-events-venue-details {
    border-top: 1px solid #565656;
    @media #{$large-up} {
		border-top: none;
	}
}

.post-type-archive-tribe_events #tribe-events .tribe-events-button {
	display: none;
}

.tribe-events-loop .tribe-events-event-meta {
	font-family: $font-family-sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    background: rgba(0,0,0,0);
    @media #{$small-only} {
		width: 100%;
		background: rgba(0,0,0,0);
    	border: none;
	}
	@media #{$medium-only} {
		width: 100%;
		background: rgba(0,0,0,0);
    	border: none;
	}
} 

.events-list #tribe-events-footer, 
.single-tribe_events #tribe-events-footer, 
.tribe-events-day #tribe-events-footer, 
.tribe-events-map #tribe-events-footer, 
.tribe-events-photo #tribe-events-footer {
	border-color: #4E4E4E;
}

#tribe-bar-collapse-toggle {
	padding: 16px 16px 17px 16px;
}

#tribe-bar-form #tribe-bar-views,
#tribe-bar-views .tribe-bar-views-list {
	padding: 0px;
}

//Månadsvyn
table.tribe-events-calendar {
	thead {
		font-family: $font-family-sans-serif;
		th {
			font-weight: 300;
			background-color: #464646;
		}
	}
}

.tribe-events-notices {
    background: scale-color($grey5 , $lightness: 15%);
    border: none;
    color: white;
    border-radius: 0px;
    font-weight: 300;
    text-shadow: none;
}

.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-], 
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a {
	background-color: #9A9A9A;
}

.tribe-events-calendar div[id*=tribe-events-daynum-],
.tribe-events-calendar div[id*=tribe-events-daynum-] a {
	background-color: #606060;
}

.tribe-events-adv-list-widget .tribe-events-widget-link a,
.tribe-events-back a,
.tribe-events-list-widget .tribe-events-widget-link a,
ul.tribe-events-sub-nav a {
	font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

// Single event

.single-tribe_events {
	.hero.calendar {
		display: none;
	}
	.hide-on-single {
		display: none;
	}
}

.tribe-events-schedule h2 {
	font-weight: 300;
}

.single-tribe_events .tribe-events-event-meta {
	background-color: $grey4;
	border: none;
}