#footer-container {
	max-width: 100%;
	width: 100%;
	margin-top: 0px!important;
	//margin: rem-calc(60) auto;
	.widget {
		text-align: center;
		margin-bottom: 2.5rem;
		@media #{$large-up} {
			margin-bottom: 0rem;
		}
	}
	h6 {
		margin-top: .9rem;
		margin-bottom: .9rem;
	}

	#text-2:before {
		font-family: 'FontAwesome';
		content: '\f003';
		position: relative;
		font-size: 140%;
		color: $primary-color;
	}

	#text-3:before {
		font-family: 'FontAwesome';
		content: '\f095';
		position: relative;
		font-size: 140%;
		color: $primary-color;
		margin-bottom: 1rem;
	}

	#text-4:before {
		font-family: 'FontAwesome';
		content: '\f041';
		position: relative;
		font-size: 140%;
		color: $primary-color;
	}

	#footer {
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		@include grid-row();
		padding: rem-calc(50) 0;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
	}

	.social-icons {
		text-align: center;
		@media #{$large-up} {
			text-align: right;
		}
	}

	.copyright {
		margin: 2rem 0;
		text-align: center;
		@media #{$large-up} {
			text-align: left;
		}
	}

	span {
		font-size: .8rem;
		line-height: 2.7rem;
	}
}
