.page-content {
	background-color: $oil;
}

//Parallax
.parallax-front {
  background-image: url("../../assets/images/backgrounds/brick_wall_small.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  @media #{$medium-up} {
    background-image: url("../../assets/images/backgrounds/brick_wall_medium.jpg");
  }
  @media #{$large-up} {
    background-image: url("../../assets/images/backgrounds/brick_wall_large.jpg");
  }
  .parallax-content {
    height:100%;
    text-align: center;
    .content-wrap{
      @include vertical-align();
      h1 {
        text-align: left;
        letter-spacing: 1px;
        font-size: 1.5rem;
        @media #{$medium-up} {
          font-size: 2.5rem;
          line-height: 1;
          font-weight: 300; 
        }
      }
      span {
        color: #EAC43E;
        font-weight: 700;
      }
      .circle-wrap {
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 50%;
        margin: 0 auto;
        padding: 2rem 0rem 0rem 5rem;
        width: 300px;
        height: 300px;
        @media #{$medium-up} {
          width: 410px;
          height: 410px;
          padding: 4rem 0rem 0rem 5rem;
        }
        @media #{$large-up} {
          width: 440px;
          height: 440px;
          padding: 5rem 0rem 0rem 6rem;
        }
      }
    }
  }
}

.home #parallax1.parallaxParent {
		overflow: hidden;
	}
.home #parallax1.parallaxParent > * {
		height: 100%;
		position: relative;
		top: -50%;
}

.map {
	background-image: url("../../assets/images/backgrounds/map_medium.jpg");
	background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

//Clean up!!

.hero.coffe {
  @media #{$small-only} {
    .h2-large {
      font-size: 2rem;
    }
  }
  position: relative;
  .content {
    height: 100%;
    text-align: center;
    //Parallax section - moving
    #parallax2 {
      height: 100%;
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      .coffe-section {
        background-image: url("../../assets/images/backgrounds/espresso_small.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        @media #{$medium-up} {
          background-image: url("../../assets/images/backgrounds/espresso_medium.jpg");
        }
        @media #{$large-up} {
          background-image: url("../../assets/images/backgrounds/espresso_large.jpg");
        }
      }
      .pancake-section {
        background-image: url("../../assets/images/backgrounds/pankakor_small.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        @media #{$medium-up} {
          background-image: url("../../assets/images/backgrounds/pankakor_medium.jpg"); 
        }
        @media #{$large-up} {
          background-image: url("../../assets/images/backgrounds/pankakor_large.jpg");
        }
      }
    }
    #parallax3 {
      height: 100%;
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      .pastery-section {
        background-image: url("../../assets/images/backgrounds/fika-chokladruta_small.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        @media #{$medium-up} {
          background-image: url("../../assets/images/backgrounds/fika-chokladruta_medium.jpg"); 
        }
        @media #{$large-up} {
          background-image: url("../../assets/images/backgrounds/fika-chokladruta_large.jpg");
        }
      }
    }
    .parallaxParent {
        overflow: hidden;
    }
    .parallaxParent > * {
        height: 200%;
        position: relative;
        top: -100%;
    }

    //Content section - staying still
    .content-heading,
    .content-heading2,
    .content-heading3 {
      @include vertical-align();
      position: absolute;
      width: 90%;
      display: inline-block;
    }
    .divider {
      @media #{$small-only} {
        margin: .5rem auto .5rem auto;
      }
    }
  }
}

//Features
.features {
  img {
    width: 100%;
  }
  h3 {
    line-height: 1.5;
    span {
      float: left;
    }
    .separator {
      margin: 0 .9rem;
    }
  }
  
}

// Social sections style

.facebook {
  height: 100%;
}

.cff-wrapper {
  height: 100%;
}

#cff {
  height: 100%;
  .cff-header {
    background-color: $facebook-blue;
    padding: 1rem 2rem;
    margin: 0;
  }

  .cff-page-name.cff-author-date {
     //text-transform: uppercase;
     //font-family: $font-family-sans-serif;
     //font-size: 1.2rem;
     //font-weight: normal;
     //line-height: 1;
     display: none;
  }

  .cff-author-img {
    display: none;
  }

  .cff-author .cff-author-text * {
    font-family: $font-family-sans-serif;
    margin-left: 0rem;
    font-size: 1rem;
    font-weight: 300;
  }

  .cff-item {
      //@include vertical-align
      border-bottom: 0px solid #6B6B6B;
      padding: 8% 5%;
      margin: 0;
      border-bottom: none;
  }
  .cff-link-title {
     text-transform: uppercase;
     font-family: $font-family-sans-serif;
     font-size: 1.1rem;
     font-weight: normal;
     line-height: 1.2;
  }
  .cff-post-links {
    text-transform: uppercase;
      font-family: $font-family-sans-serif;
      font-weight: 300;
  }

  .cff-details {
    background: $grey5;
    padding: 1rem;
    a {
      text-transform: uppercase;
        font-family: $font-family-sans-serif;
        p {
          font-size: 1.2rem;
          font-weight: normal;
          line-height: 1.2;
        }
    }
  }
}

#sb_instagram #sbi_load {
  padding-top: 0 !important;
  display: none;
}
.instagram-header {
  margin: 0;
  line-height: 1.4;
  background-color: $instagram-blue;
  padding: 1rem 2rem;
  i {
    margin-right: 1rem;
    font-size: 28px;
  }
}
.instagram {
  height: 100%;
  top: -32px;
  position: relative;
  .box {
    padding: 15%;
    height: 100%;
  }
  #sb_instagram {
    @media #{$large-only} {
     @include vertical-align
    }
  }
}

.calendar-header {
  margin: 0;
  line-height: 1.4;
  background-color: $instagram-blue;
  padding: 1rem 2rem;
  i {
    margin-right: 1rem;
    font-size: 28px;
  }
}

.front-page-events ul {
  list-style: none;
  margin-left: 0;
}

.front-page-events img {
  margin: 1rem 0;
}