/*
 Global styles for FoundationPress
 Demo: http://foundationpress.olefredrik.com
*/

// Typography
h1,
h2,
h3,
h4,
h5 {
	text-transform: uppercase;
}

.subheader {
	font-size: 1rem;
}

.large-h1 {
	font-weight: 500;
	@media #{$large-up} {
		font-size: rem-calc(65);
	}
}

.large-h2 {
	font-weight: 500;
	font-size: rem-calc(35);
	@media #{$large-up} {
		font-size: rem-calc(50);
	}
}

.hero {
	@media #{$small-only} {
		height: rem-calc(400);
	}
	h2 {
		font-weight: 300;
    @media #{$small-only} {
      font-size: rem-calc(16);
    }
    @media #{$medium-only} {
      font-size: rem-calc(24);
    }     
  }
  .large-h2 {
  	font-weight: 500;
		font-size: rem-calc(40);
		@media #{$large-up} {
			font-size: rem-calc(60);
		}
	}
}

// Global colors
.grey-1 {
	background-color: $grey1;
}

.grey-2 {
	background-color: $grey2;
}

.grey-3 {
	background-color: $grey3;
}

.grey-4 {
	background-color: $grey4;
}

// Divider
.divider {
    border-top: 2px solid $primary-color;
    width: 170px;
    margin-top: 1rem;
    margin-bottom: 2.1rem;
}

.divider-center {
	margin-left: auto;
	margin-right: auto;
}

// Prettify type rendering
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

// Page layout
.container {
    @media #{$large-up} {
		margin-left: 300px;
	}
}

// Sidebar and menu
.sidebar {
	width: 300px;
	position: fixed;
	text-align: center;
	h3 {
		color: white;
	}
}

.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

.hide-scroll {
    overflow: hidden;
}

.scroll-div {
    overflow: auto;

    /* Make sure the inner div is not larger than the container
     * so that we have room to scroll.
     */
    max-height: 100%;

    /* Pick an arbitrary margin/padding that should be bigger
     * than the max width of all the scroll bars across
     * the devices you are targeting.
     * padding = -margin
     */
    margin-right: -300px;
    padding-right: 300px;

}	

// Reset margin and padding on figure element
figure {
	margin: 0;
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10);
	color: #6f6f6f;
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

// Grid styles
.box {
	padding: 8% 5%;
}

.box-small {
	padding: 4% 5%;
}

.box-tiny {
	padding: 2% 5%;
}

.nomargin {

	.column {
		padding: 0px;
	}
	.columns {
		padding: 0px;
	}
}

.nopadding {
	padding-left: 0px;
	padding-right: 0px;
}

// Social icons

.sidebar,
#footer-container,
.top-bar-section {

	.social-icons {
		margin: 2rem 0;
	}

	.fa {
		color: scale-color($jet, $lightness: 45%);
		font-size: 1.4rem;
		margin: 0 .5rem;
	}

	.fa:hover {
		color: $primary-color;
	}

	i:before {
		display: block;
	    background-color: scale-color($jet, $lightness: 15%);
	    border-radius: 50%;
	    padding: .6rem .7rem;
	   	width: 2.7rem;
	    height: 2.7rem;
	    text-align: center;
	}
}

// Global hero
.fadein {
	//opacity: 0;
	position: relative;
}

//Preloader

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    transition: all 1s;
}

.loaded #loader-wrapper .loader-section {
	opacity: 0;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}

// Map styling
.info-content {

	h1 {
		color: $grey4;
		font-weight:500;
	}
	p {
		color: $grey5;
	}
}
