.hero.jobb {
  @include aspect-ratio(16,8);
  .content {
    height: 100%;
    text-align: center;
    .content-heading {
      @include vertical-align();
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      @media #{$medium-up} {
        max-width: 80%;
      }
    }
    .divider {
      @media #{$small-only} {
        margin: .5rem auto .5rem auto;
      }
    }
  }
  .parallax-bg {
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/images/backgrounds/jobb_small.jpg"); 
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    @media #{$medium-up} {
      background-image: url("../../assets/images/backgrounds/jobb_medium.jpg");
    }
    @media #{$large-up} {
      background-image: url("../../assets/images/backgrounds/jobb_large.jpg");
    }
  }
  #parallax1 {
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
  .parallaxParent {
      overflow: hidden;
  }

  .parallaxParent > * {
      height: 110%;
      position: relative;
      top: -58%;
  }
}

.coffe-2 {
  background-image: url("../../assets/images/backgrounds/coffe-2.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:200px;
}

.planning {
  background-image: url("../../assets/images/backgrounds/planning.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:200px;
}

.organizing {
  background-image: url("../../assets/images/backgrounds/organizing.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:200px;
}

.checklist {
  background-image: url("../../assets/images/backgrounds/checklist.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:200px;
}

.contact {
  background-image: url("../../assets/images/backgrounds/contact.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:200px;
}

.alert-yellow {
  background: $yellow;
}