//Parallax

.hero.menu {
  @include aspect-ratio(16,8);
  .content {
    height: 100%;
    text-align: center;
    .content-heading {
      @include vertical-align();
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      @media #{$medium-up} {
        max-width: 80%;
      }
    }
    .divider {
      @media #{$small-only} {
        margin: .5rem auto .5rem auto;
      }
    }
  }
  .parallax-bg {
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/images/backgrounds/lunchrestaurang_small.jpg");
    @media #{$medium-up} {
      background-image: url("../../assets/images/backgrounds/lunchrestaurang_medium.jpg");
    }
    @media #{$large-up} {
      background-image: url("../../assets/images/backgrounds/lunchrestaurang_large.jpg");
    }
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
  #parallax1 {
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
  .parallaxParent {
      overflow: hidden;
  }

  .parallaxParent > * {
      height: 110%;
      position: relative;
      top: -54%;
      @media #{$large-up} {
        top: -58%;
      }
  }
}

.buffe {
  background-image: url("../../assets/images/backgrounds/buffe.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @media #{$small-only} {
    height: 380px !important;
  }
  @media #{$medium-only} {
    height: 500px !important;
  }
  @media #{$medium-up} {
    background-image: url("../../assets/images/backgrounds/buffe.jpg");
  }
  @media #{$large-up} {
    background-image: url("../../assets/images/backgrounds/buffe.jpg");
  }
}


