.sidebar {
	background: black;
	//border-right:1px solid $border-color;
	.menu-item {
		&:last-child a {
				border-bottom: 1px solid $border-color;
			}
		a {
			text-transform: uppercase;
			border-top:1px solid $border-color;
		}
	}
	.active {
		border-right: 4px solid $primary-color;
	}
}

.side-nav-logo {
	max-width: 50%;
	margin: 4rem auto;
}

.pingst-logo {
	width: 100px;
	padding-bottom: 2rem;
}