// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	//margin-bottom: rem-calc(32);

	@media only screen and (max-width: ($topbar-breakpoint)) {
		.top-bar-left {
			li.name {
				padding-left: rem-calc(50);
			}

			li.toggle-topbar a, li.menu-icon {
				position: absolute;
				left: 0;
			}

		}

		.top-bar-right { 
			li.toggle-topbar a, li.menu-icon {
				position: absolute;
				right: 0;
			}
		}
	}
}

.top-bar-section ul li.active {
	border-right: 6px solid #E3C014;
}


.top-bar-section ul li {
    background: #141414;
    line-height: 4rem;
    text-align: center;
    border-bottom: 1px solid $grey5;
    a {
    	padding: 0px;
    }
}

.top-bar {
	img {
		width: 100px;
		float: left;
    	margin: 8px 20px 8px 35px;
	}

}

.left-small {
	border-right: 0;
}

.right-small {
	border-left: 0;
}

.top-bar .name {
	h1 a { 
		font-weight: 800;
		letter-spacing: 2px;
	}
}

// Switch between the mobile menu (tab-bar) and desktop menu (topbar) based on a custom $topbar-breakpoint value.
// The $topbar-breakpoint can be edited in _custom-settings.scss.

@media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {
  .tab-bar { display: none; }
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-breakpoint) {
  body.offcanvas .top-bar { display: none; }
}

//Animate top bar

nav.top-bar {
  transition: height .33s ease;
}
.top-bar.expanded {
  height: 550px;
  transition: height .33s ease;
}

.top-bar-section {
	.social-icons {
		width: 100%;
	    line-height: 1.5;
	    float: left;
		span {
			float: right;
			margin-right: 1rem;
		}
	}
}