/*
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/

// We use these to define default font stacks
//$font-family-sans-serif: 'Unica One', Arial, Helvetica, sans-serif;
$font-family-sans-serif:'Work Sans', Arial, Helvetica, sans-serif;
$font-family-serif: 'Vollkorn', Arial, Helvetica, sans-serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// Foundation color naming conventions
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;
$yellow      : #E2BC15;

// Custom colors
$border-color: scale-color($jet, $lightness: 5%);
$facebook-blue: rgba(59, 89, 152, 0.5);
$instagram-blue: rgba(18,86,136,0.5);
$grey1: scale-color($black, $lightness: 4%);
$grey2: scale-color($black, $lightness: 8%);
$grey3: scale-color($black, $lightness: 10%);
$grey4: scale-color($black, $lightness: 14%);
$grey5: scale-color($black, $lightness: 19%);

// We use these as default colors throughout
$primary-color: #E2BC15;
$secondary-color: #848c92;
$alert-color: #FFFFFF;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

// We use these to control various global styles
$body-bg: $grey3;
$body-font-color: $iron;
$body-font-family: $font-family-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$header-font-weight: 300;
$header-text-rendering: optimizeLegibility;

// Set the link colors and styles for top-level nav
$topbar-link-weight: 300;
$topbar-link-color: $white;
$topbar-link-color-hover: $primary-color;
$topbar-link-color-active: $primary-color;
$topbar-link-color-active-hover: $primary-color;

$topbar-link-bg: white;
$topbar-link-bg-hover: $jet;
$topbar-link-bg-color-hover: $jet;
$topbar-link-bg-active: $jet;
$topbar-link-bg-active-hover: scale-color($jet, $lightness: -14%);

// 34. Top Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-top-bar-classes: $include-html-classes;

// Background color for the top bar
 $topbar-bg-color: black;
// $topbar-bg: $topbar-bg-color;

// Height and margin
$topbar-height: rem-calc(123);
// $topbar-margin-bottom: 0;

// Controlling the styles for the title in the top bar
// $topbar-title-weight: $font-weight-normal;
$topbar-title-font-size: rem-calc(30);

// Set the link colors and styles for top-level nav
// $topbar-link-color: $white;
// $topbar-link-color-hover: $white;
// $topbar-link-color-active: $white;
// $topbar-link-color-active-hover: $white;
// $topbar-link-weight: $font-weight-normal;
$topbar-link-font-size: rem-calc(18);
// $topbar-link-hover-lightness: -10%; // Darken by 10%
// $topbar-link-bg: green;
// $topbar-link-bg-hover: $jet;
// $topbar-link-bg-color-hover: $charcoal;
// $topbar-link-bg-active: $primary-color;
// $topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);
$topbar-link-font-family: $font-family-sans-serif;
$topbar-link-text-transform: uppercase;
$topbar-link-padding: ($topbar-height / 3);
// $topbar-back-link-size: rem-calc(18);
// $topbar-link-dropdown-padding: rem-calc(200);
// $topbar-button-font-size: .75rem;
// $topbar-button-top: 7px;

// Style the top bar dropdown elements
$topbar-dropdown-bg: $grey3;
// $topbar-dropdown-link-color: $white;
// $topbar-dropdown-link-color-hover: $topbar-link-color-hover;
// $topbar-dropdown-link-bg: $oil;
// $topbar-dropdown-link-bg-hover: $jet;
// $topbar-dropdown-link-weight: $font-weight-normal;
// $topbar-dropdown-toggle-size: 5px;
// $topbar-dropdown-toggle-color: $white;
// $topbar-dropdown-toggle-alpha: .4;

// $topbar-dropdown-label-color: $monsoon;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight: $font-weight-bold;
// $topbar-dropdown-label-font-size: rem-calc(10);
// $topbar-dropdown-label-bg: $oil;

// Top menu icon styles
// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: rem-calc(13);
// $topbar-menu-link-weight: $font-weight-bold;
// $topbar-menu-link-color: $white;
// $topbar-menu-icon-color: $white;
// $topbar-menu-link-color-toggled: $jumbo;
// $topbar-menu-icon-color-toggled: $jumbo;
// $topbar-menu-icon-position: $opposite-direction; // Change to $default-float for a left menu icon

// Transitions and breakpoint styles
// $topbar-transition-speed: 300ms;
// Using rem-calc for the below breakpoint causes issues with top bar
// $topbar-breakpoint: #{lower-bound($medium-range)}; // Change to 9999px for always mobile layout
// $topbar-media-query: "#{$screen} and (min-width:#{lower-bound($topbar-breakpoint)})";

// Top-bar input styles
// $topbar-input-height: rem-calc(28);

// Divider Styles
// $topbar-divider-border-bottom: solid 1px scale-color($topbar-bg-color, $lightness: 13%);
// $topbar-divider-border-top: solid 1px scale-color($topbar-bg-color, $lightness: -50%);

// Sticky Class
// $topbar-sticky-class: ".sticky";
// $topbar-arrows: true; //Set false to remove the triangle icon from the menu item
// $topbar-dropdown-arrows: true; //Set false to remove the \00bb >> text from dropdown subnavigation li//

// We use these to control header font styles
$header-font-family: $font-family-sans-serif;
$header-font-weight: 300;
// $header-font-style: normal;
$header-font-color: $white;
$header-line-height: 1.4;
// $header-top-margin: .2rem;
// $header-bottom-margin: .5rem;
// $header-text-rendering: optimizeLegibility;

// We use these to control header font sizes
// $h1-font-size: rem-calc(44);
// $h2-font-size: rem-calc(37);
$h3-font-size: rem-calc(22);
// $h4-font-size: rem-calc(23);
// $h5-font-size: rem-calc(18);
// $h6-font-size: 1rem;

// We use these to control header size reduction on small screens
$h1-font-reduction: rem-calc(10);
$h2-font-reduction: rem-calc(10);
$h3-font-reduction: rem-calc(0);
// $h4-font-reduction: rem-calc(5);
// $h5-font-reduction: 0;
// $h6-font-reduction: 0;

// These control how subheaders are styled.
// $subheader-line-height: 1.4;
$subheader-font-color: $primary-color;
$subheader-font-weight: 500;
// $subheader-top-margin: .2rem;
// $subheader-bottom-margin: .5rem;

//Buttons
$button-function-factor: -20%;
$button-med: rem-calc(12);
$button-bg-color: $oil;
$button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor);

// Grid
$row-width: 100%;

// Media query breakpoints
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$topbar-breakpoint: em-calc(1024);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

// Side Nav
// We use this to control padding.
$side-nav-padding: rem-calc(0 0);

// We use these to control list styles.
$side-nav-list-margin: rem-calc(0 0 0 0);
// We use these to control link styles.
$side-nav-link-color: $white;
$side-nav-link-color-active: $primary-color;
$side-nav-link-color-hover: $primary-color;
// $side-nav-link-bg-hover: hsla(0, 0, 0, .025);
// $side-nav-link-margin: 0;
$side-nav-link-padding: rem-calc(14 14);
$side-nav-font-size: rem-calc(16);
$side-nav-font-weight: 300;
// $side-nav-font-weight-active: $side-nav-font-weight;
$side-nav-font-family: $font-family-sans-serif;
// $side-nav-font-family-active: $side-nav-font-family;

// Panels

// $include-html-panel-classes: $include-html-classes;

// We use these to control the background and border styles
$panel-bg: rgba(0,0,0,0);
$panel-border-style: none;
$panel-border-size: 0px;
// $callout-panel-bg: scale-color($primary-color, $lightness: 94%);

// We use this % to control how much we darken things on hover
// $panel-border-color: scale-color($panel-bg, $lightness: -11%);

// We use these to set default inner padding and bottom margin
// $panel-margin-bottom: rem-calc(20);
// $panel-padding: rem-calc(20);

// We use these to set default font colors
$panel-font-color: $body-font-color;
$panel-font-color-alt: $primary-color;

// $panel-header-adjust: true;
$callout-panel-link-color: $white;
// $callout-panel-link-color-hover: scale-color($callout-panel-link-color, $lightness: -14%);


//Mixins
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
